<div id="<%= dom_id event %>">
  <p>
    <strong>Number of guests:</strong>
    <%= event.number_of_guests %>
  </p>

  <p>
    <strong>Arrival:</strong>
    <%= event.arrival %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= event.comment %>
  </p>

</div>
