.squaretag-item {
  display: grid;
}

.squaretag-selector {
  position: absolute;
}

.squaretag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 22px;
  font-family: 'Oswald';
  font-weight: lighter;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: black;
  color: grey;
  border: 1px solid black;
  margin-right: 5px;
  margin-bottom: 5px;
  transition: .3s ease-in-out;
}
.squaretag-selector:hover + label {
  background-color: black;
  border: 1px solid black;
  color: white;
}

.squaretag-selector:checked + label {
  background-color: black;
  color: white;
}

.share{
  display: none;
}
