<h1>Editing main course</h1>

<%= render "form", main_course: @main_course %>

<br>

<div>
  <%= link_to "Show this main course", @main_course %> |
  <%= link_to "Back to main courses", main_courses_path %>
</div>
