<p style="color: green"><%= notice %></p>

<h1>Main courses</h1>

<div id="main_courses">
  <% @main_courses.each do |main_course| %>
    <%= render main_course %>
    <p>
      <%= link_to "Show this main course", main_course %>
    </p>
  <% end %>
</div>

<%= link_to "New main course", new_main_course_path %>
